.App {
  text-align: center;
  /* padding-top: 70px; Add padding to avoid overlap with navbar */
}

.home, .about, .services, .products, .testimonials, .casestudies {
  padding: 20px;
}

h1 {
  color: #32CD32; /* Align with logo green */
}

p, ul {
  color: #333; /* Darker text for better readability */
}
